BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "IO14_D" SITE "122" ;
LOCATE COMP "IO15_D" SITE "120" ;
LOCATE COMP "IO84_D" SITE "114" ;
LOCATE COMP "IO85_D" SITE "117" ;
LOCATE COMP "IO86_D" SITE "115" ;
LOCATE COMP "IO87_D" SITE "128" ;
LOCATE COMP "IO20_D" SITE "71" ;
LOCATE COMP "IO21_D" SITE "45" ;
LOCATE COMP "IO22_D" SITE "44" ;
LOCATE COMP "IO23_C" SITE "70" ;
LOCATE COMP "IO23_D" SITE "69" ;
LOCATE COMP "PWM1A_D" SITE "99" ;
LOCATE COMP "PWM1B_D" SITE "98" ;
LOCATE COMP "PWM2A_D" SITE "103" ;
LOCATE COMP "PWM2B_D" SITE "100" ;
LOCATE COMP "PWM3A_D" SITE "104" ;
LOCATE COMP "PWM3B_D" SITE "106" ;
LOCATE COMP "PWM4A_D" SITE "107" ;
LOCATE COMP "PWM4B_D" SITE "109" ;
LOCATE COMP "PWM5A_D" SITE "111" ;
LOCATE COMP "PWM5B_D" SITE "110" ;
LOCATE COMP "PWM6A_D" SITE "112" ;
LOCATE COMP "PWM6B_D" SITE "113" ;
LOCATE COMP "PWM7A_D" SITE "92" ;
LOCATE COMP "PWM7B_D" SITE "93" ;
LOCATE COMP "PWM8A_D" SITE "94" ;
LOCATE COMP "PWM8B_D" SITE "95" ;
LOCATE COMP "PWM9A_D" SITE "96" ;
LOCATE COMP "PWM9B_D" SITE "97" ;
LOCATE COMP "TZ1n" SITE "119" ;
LOCATE COMP "TZ2n" SITE "121" ;
LOCATE COMP "PWM_ENn" SITE "47" ;
LOCATE COMP "PWM1A_C" SITE "15" ;
LOCATE COMP "PWM1B_C" SITE "17" ;
LOCATE COMP "PWM2A_C" SITE "19" ;
LOCATE COMP "PWM2B_C" SITE "20" ;
LOCATE COMP "PWM3A_C" SITE "21" ;
LOCATE COMP "PWM3B_C" SITE "22" ;
LOCATE COMP "FO1" SITE "12" ;
LOCATE COMP "PWM4A_C" SITE "28" ;
LOCATE COMP "PWM4B_C" SITE "31" ;
LOCATE COMP "PWM5A_C" SITE "32" ;
LOCATE COMP "PWM5B_C" SITE "33" ;
LOCATE COMP "PWM6A_C" SITE "34" ;
LOCATE COMP "PWM6B_C" SITE "35" ;
LOCATE COMP "FO2" SITE "14" ;
LOCATE COMP "PWM7A_C" SITE "63" ;
LOCATE COMP "PWM7B_C" SITE "65" ;
LOCATE COMP "PWM8A_C" SITE "67" ;
LOCATE COMP "PWM8B_C" SITE "68" ;
LOCATE COMP "PWM9A_C" SITE "73" ;
LOCATE COMP "PWM9B_C" SITE "74" ;
LOCATE COMP "FO3" SITE "75" ;
LOCATE COMP "PWM10A_C" SITE "4" ;
LOCATE COMP "PWM10B_C" SITE "5" ;
LOCATE COMP "PWM11A_C" SITE "6" ;
LOCATE COMP "PWM11B_C" SITE "9" ;
LOCATE COMP "PWM12A_C" SITE "10" ;
LOCATE COMP "PWM12B_C" SITE "11" ;
LOCATE COMP "FO4" SITE "13" ;
LOCATE COMP "PWM13A_C" SITE "38" ;
LOCATE COMP "PWM13B_C" SITE "39" ;
LOCATE COMP "PWM14A_C" SITE "40" ;
LOCATE COMP "PWM14B_C" SITE "41" ;
LOCATE COMP "PWM15A_C" SITE "42" ;
LOCATE COMP "PWM15B_C" SITE "43" ;
LOCATE COMP "FO5" SITE "61" ;
LOCATE COMP "PWM16A_C" SITE "48" ;
LOCATE COMP "PWM16B_C" SITE "49" ;
LOCATE COMP "PWM17A_C" SITE "50" ;
LOCATE COMP "PWM17B_C" SITE "52" ;
LOCATE COMP "PWM18A_C" SITE "54" ;
LOCATE COMP "PWM18B_C" SITE "55" ;
LOCATE COMP "FO6" SITE "62" ;
LOCATE COMP "CMP_OUT1" SITE "81" ;
LOCATE COMP "CMP_OUT2" SITE "85" ;
LOCATE COMP "CMP_OUT3" SITE "91" ;
LOCATE COMP "CMP_OUT4" SITE "78" ;
LOCATE COMP "CMP_OUT5" SITE "84" ;
LOCATE COMP "CMP_OUT6" SITE "89" ;
LOCATE COMP "CMP_OUT7" SITE "77" ;
LOCATE COMP "CMP_OUT8" SITE "83" ;
LOCATE COMP "CMP_OUT9" SITE "87" ;
LOCATE COMP "CMP_OUT10" SITE "76" ;
LOCATE COMP "CMP_OUT11" SITE "82" ;
LOCATE COMP "CMP_OUT12" SITE "86" ;
LOCATE COMP "IO0_C" SITE "27" ;
LOCATE COMP "IO1_C" SITE "26" ;
LOCATE COMP "IO2_C" SITE "25" ;
LOCATE COMP "IO3_C" SITE "24" ;
LOCATE COMP "IO4_C" SITE "23" ;
LOCATE COMP "IO5_C" SITE "2" ;
LOCATE COMP "IO6_C" SITE "1" ;
LOCATE COMP "IO7_C" SITE "143" ;
LOCATE COMP "IO8_C" SITE "141" ;
LOCATE COMP "IO9_C" SITE "133" ;
LOCATE COMP "IO10_C" SITE "132" ;
LOCATE COMP "IO11_C" SITE "138" ;
LOCATE COMP "IO12_C" SITE "127" ;
LOCATE COMP "IO13_C" SITE "126" ;
LOCATE COMP "IO14_C" SITE "125" ;
LOCATE COMP "IO15_C" SITE "139" ;
LOCATE COMP "IO16_C" SITE "140" ;
LOCATE COMP "IO17_C" SITE "142" ;
LOCATE COMP "IO18_C" SITE "56" ;
LOCATE COMP "IO19_C" SITE "57" ;
LOCATE COMP "IO20_C" SITE "58" ;
LOCATE COMP "IO21_C" SITE "59" ;
LOCATE COMP "IO22_C" SITE "60" ;
IOBUF PORT "IO23_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO23_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FO1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FO2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PWM1A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM1B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM2A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM2B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM3A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM3B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM4A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM4B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM5A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM5B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM6A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM6B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM7A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM7B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM8A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM8B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM9A_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM9B_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FO3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FO4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FO5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FO6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT8" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT9" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT10" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT11" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CMP_OUT12" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "IO84_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO85_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO86_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TZ1n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM_ENn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM1A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM1B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM2A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM2B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM3A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM3B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM4A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM4B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM5A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM5B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM6A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM6B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM7A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM7B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM8A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM8B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM9A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM9B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM10A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM10B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM11A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM11B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM12A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM12B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM13A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM13B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM14A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM14B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM15A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM15B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM16A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM16B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM17A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM17B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM18A_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM18B_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO0_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO1_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO2_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO3_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO4_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO5_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO6_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO7_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO8_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO9_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO10_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO11_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO12_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO13_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO14_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO15_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO16_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO17_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO18_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO19_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO20_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO21_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO22_C" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO14_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO15_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO49_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO87_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO20_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO21_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO22_D" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TZ2n" IO_TYPE=LVCMOS33 ;
VOLTAGE 1.200 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
IOBUF PORT "CLK_C" IO_TYPE=LVCMOS33 ;
LOCATE COMP "CLK_C" SITE "3" ;
